<div class="row valign-wrapper" id="topbar">
  <div class="col s10">
  </div>
  <div class="col s2">
    <%= link_to new_event_path do %>
      <p class="btn red">New Event</p>
    <% end %>
    <i class="material-icons icon-lg-size move-down">account_circle</i>
  </div>
</div>
