/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

* {
}

div {
    margin: 0;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin: 5px 0;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 5px 0;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0;
}

p {
    font-size: 14px;
    margin: 0;
}

strong {
    font-weight: bold;
    margin: 0;
}

//materialize changes
.row .col {
    padding: 20px;
}

// event show styling
#page-wrapper {
    background-color: rgb(216, 216, 216);
}

#header {
    background-color: white;
    border-radius: 0 0 20px 20px;
    padding: 20px;
}

#content {
    padding: 20px;
}

.card {
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}